:root {
    --logo_font: 'Raleway', sans-serif;
    --text-color: #757575;
    --accent-color: #2196F3;
    --active-accent-color: #188CE8;
    --white-color: #FFFFFF;
    --icon-grey-color: #AFB1B8;
}