.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 16px 15px;
    @media screen and (min-width:768px) {
        padding: 0;
    }
    
}

.logo {
    font-family: var(--logo_font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo-black {
    color: #212121;
}

.navigation {
    display: none;
    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 87px;
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px;
        margin-right: auto;
    }
}

.header-nav {
    display: flex;
    gap: 50px;
    position: relative;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}

.header-nav-item {
    display: flex;
    position: relative;

    & .is-active::after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;

}

.header-contact-list {
    display: none;
    @media screen and (min-width:768px) {
        display: block;
        // margin-right: auto;
        margin-left: 96px;
    }
    @media screen and (min-width:1200px) {
        gap: 50px;
        display: flex;
        margin-left: 0;
        align-items: flex-end;
    }
}

.header-contact{
    
    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:1200px) {
        display: flex;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
    }
}

.header-contact-mail,
.header-contact-telephon {
    color: var(--text-color);
    display: flex;
    align-items: center;
        &:hover,
        &:focus {
        color: var(--accent-color);
    }
}

.header-icon-envelope {
    fill: var(--text-color);
    margin-right: 10px;
    width: 14px;
    @media screen and (min-width:1200px) {
        width: 16px;
    }
        .header-contact-list .header-contact-mail:hover &,
        .header-contact-list .header-contact-mail:focus & {
        fill: var(--accent-color);
    }
}

.header-icon-tel {
    fill: var(--text-color);
    width: 10px;
    margin-right: 10px;
        .header-contact-list .header-contact-telephon:hover &,
        .header-contact-list .header-contact-telephon:focus & {
        fill: var(--accent-color);
    }
}

.menu-open {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    right: 15px;
    top: 10px;
}

.container-menu {
    padding: 0;
}

.menu-open-icon {
    fill: #000000;
    @media screen and (min-width:768px) {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
}

.menu-close {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    right: 15px;
    top: 10px;
}
.menu-close-icon {

}